## To do list

**Delete following rows**

Running Forever

Sharkskin

Hum To Mohabbat Karega

Me You and Five Bucks

Down & Out With The Dolls

Crowsnest

Sex With Strangers

The Helix... Loaded

Harrison Montgomery

Light from the Darkroom

America Is Still the Place

The Little Ponderosa Zoo

Diamond Ruff

Rise of the Entrepreneur: The Search for a Better Way

I Want Your Money

Fabled

Death Calls

Amidst the Devil's Wings

UnDivided

Short Cut to Nirvana: Kumbh Mela

The Blood of My Brother: A Story of Death in Iraq

21

In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
credits.isna().sum()

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [14]:
count=0
crew_list = []
cast_list = []
cast_crew_list = []
for crew, title, cast in zip(credits['crew'], credits['title'],  credits['cast']):
    if crew=='[]' and cast=='[]':
        count+=1
        print(title)
print(count)

Running Forever
Sharkskin
Hum To Mohabbat Karega
Me You and Five Bucks
Down & Out With The Dolls
Crowsnest
Sex With Strangers
The Helix... Loaded
Harrison Montgomery
Light from the Darkroom
America Is Still the Place
The Little Ponderosa Zoo
Diamond Ruff
Rise of the Entrepreneur: The Search for a Better Way
I Want Your Money
Fabled
Death Calls
Amidst the Devil's Wings
UnDivided
Short Cut to Nirvana: Kumbh Mela
The Blood of My Brother: A Story of Death in Iraq
21

In [ ]:
movies = movies.merge(credits, on='title')

In [ ]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'release_date', 'cast', 'crew']]

In [8]:
credits.loc[credits['title']=='Running Forever']

      movie_id            title cast crew
3670    447027  Running Forever   []   []

In [ ]:
movies.loc[movies['title']=='Warriors of Virtue']

In [ ]:
movies.shape

In [ ]:
count=0
for cast, title in zip(movies['cast'], movies['title']):
    if cast=='[]' or cast==None:
        print(title)
#         print(cast)
        count+=1
print(count)

In [ ]:
movies.isna().sum()

In [ ]:
movies.duplicated().sum()

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies.isna().sum()

In [ ]:
movies['genres'][0]

In [ ]:
movies['keywords'][0]

In [ ]:
import ast
ast.literal_eval(movies['genres'][0])

In [ ]:
def extract_genres(genres_col):
    genres = []
    for genre in ast.literal_eval(genres_col):
        genres.append(genre['name'])
    return genres

extract_genres(movies['genres'][0])

In [ ]:
movies['genres'] = movies['genres'].apply(extract_genres)

In [ ]:
movies.head()

In [ ]:
movies['keywords'] = movies['keywords'].apply(extract_genres)

In [ ]:
movies.head()

In [ ]:
ast.literal_eval(movies['cast'][0])[0]

In [ ]:
def extract_cast(cast_col):
    count = 0
    cast = []
    for member in ast.literal_eval(cast_col):
        cast.append(member['name'])
        count+=1
        if count==5:
            return cast

In [ ]:
extract_cast(movies['cast'][1])

In [ ]:
movies['cast'] = movies['cast'].apply(extract_cast)

In [ ]:
movies.head()

In [ ]:
movies.isna().sum()

In [ ]:
movies[movies['cast'].isna()]

In [ ]:
credits.loc[credits['movie_id']==67238]

In [ ]:
ast.literal_eval(movies['crew'][0])

In [ ]:
def extract_director(crew_col):
    director = []
    for crew in ast.literal_eval(crew_col):
        if crew['job'] == 'Director':
            director.append(crew['name'])
            break
    return director

In [ ]:
extract_director(movies['crew'][0])

In [ ]:
movies['crew'] = movies['crew'].apply(extract_director)

In [ ]:
movies.head()

In [ ]:
int(movies['release_date'][0][:4])

In [ ]:
for date in movies['release_date']:
    if int(date[:4])>2000:
        print("new")
    else:
        print("old")

In [ ]:
import re
period = []
def extract_year(date):
    for i in date:
        d = re.findall('(\d{4})-\d{2}-\d{2}',i)
        if int(d[0])>2000:
            period.append('new')
        else:
            period.append('old')
    return period

movies['release_date'].apply(extract_year)

In [ ]:
movies['release_date'][0]

In [ ]:
movies['release_date'].isna().sum()

In [ ]:
movies.isna().sum()